

body{
    
  width: 100%;
  height: 100%;
  background-color: #fffff6;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.shimmer {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(247, 241, 222, 0.9),
    transparent
  );

  transform: translateX(-100%);
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}